extends layouts/main-layout.pug
block content
        main
            if prods.length > 0
                .grid
                    each product in prods
                        article.card.product-item
                            header.card_header
                                h1.product_title #{product.title}
                            div.card_image
                                img(src="https://www.shutterstock.com/shutterstock/photos/2178684941/display_1500/stock-photo--d-illustration-d-rendering-futuristic-city-blue-background-metaverse-digital-world-modern-2178684941.jpg", width="120px")
                            div.card_content
                                h2.product_price #{product.price}
                                p.product_description #{product.description}
                            .card_actions
                                button.btn Add to Cart
            else
                h1 No products