<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/">Shop</a></li>
            <li class="main-header__item"><a href="/admin/add-product">Add products</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="grid">
        <article class="card product-item">
            <header>
                <h1>Heading</h1>
            </header>
            <div class="card_image">
                <img
                     src="https://media.istockphoto.com/id/1957612313/photo/teenage-girl-sitting-on-windowsill-and-reading-a-book.jpg?s=1024x1024&w=is&k=20&c=lb8vi0vbK2-XIvTbafFj_RHyn4Z2WoUp87i_sIBaTro="
                     alt=""
                />
            </div>
            <div class="card_content">
                <h2 class="product_price">$19.99</h2>
                <p class="product_description">A very interesting </p>
            </div>
            <div class="card_actions">
                <button type="button">Add to cart!</button>
            </div>
        </article>
    </div>
</main>
</body>
</html>